@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansSemibold';
    src: url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansExtrabold';
    src: url('../fonts/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body {
  background-color:#ffffff;
  color: #666;
  font-family: 'OpenSansRegular', Arial, sans-serif;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: auto;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body.staging{
  cursor: default;
}




#bg{
  position:absolute;
  width:100%;
  z-index:-100;

}

#bg .left{
  left:0;
  position:absolute;

}

#bg .right{
  right:0;
  position:absolute;
}

#bg .left img,
#bg .right img{
  width:100%;
  height:auto;
}


#header{
  width: 100%;
  height: 70px;
  position: fixed;
  top:0px;
  z-index: 200;
  pointer-events: none;
}

#header .glogo{
  display: block;
  width:93px;
  height:32px;
  margin: 20px 0 0 20px;
  background-image: url("../img/glogo.png");
  background-repeat: no-repeat;
  background-position: center center;
}

#header #top-sponsors{
  display: block;
  position:absolute;
  left:20px;
  top:20px;
}

#header #top-branding{
  display: block;
  position:absolute;
  right:20px;
  top:20px;
}

#header #top-sponsors img, #header #top-branding
{
  display: block;
}

#footer{
  width: 100%;
  height: 45px;
  background-color:#ffffff;
  position: fixed;
  bottom:0px;
  z-index: 200;

}

#footer #reset-app-btn{
  position:absolute;
  padding: 0 0 0 23px;
  color: #0076ff;
  width:100px;
  height:21px;
  display: block;
  font-size: 12px;
  line-height:23px;
  font-family: 'OpenSansBold';
  background-image: url("../img/reset_ico.png");
  background-repeat: no-repeat;
  background-position: left center;
  border:none;
  background-color:#ffffff;
  margin-top:15px;
  margin-left:-120px;
  text-align:left;
}


#footer ul#easter-eggs {list-style:none; height:40px; overflow: hidden; padding: 0; width:160px; float:right; margin-top:-10px; margin-right:90px; }
#footer ul#easter-eggs li {float:left; display:block; width:25%; height:40px; margin-top:35px;}

#footer ul#easter-eggs li.blue {background-color: #0076ff;}
#footer ul#easter-eggs li.red {background-color: #e10728;}
#footer ul#easter-eggs li.yellow {background-color: #ffd91b;}
#footer ul#easter-eggs li.green {background-color: #1baf23;}



#footer #languageControls{
  margin:8px 20px 0px 0px;
   padding:0;
   float:right;
}
#footer #languageControls button.language-control{
  float:left;
  margin:0;
  padding:0;
  width:40px;
  height:30px;
  border:1px solid rgba(0, 155, 255, 0);
  border-radius:5px;
   -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 155, 255, 0);
  display:block;
  background-position:center center;
  background-color:transparent;
  background-repeat:no-repeat;
  margin-right:10px;
}

#footer #languageControls button.language-control.selected{
  border:1px solid rgba(0, 155, 255, 0.7);
  border-radius:5px;
   -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 155, 255, 1);
}








#particular{
  width:81px;
  height:81px;
  position:absolute;
  overflow:hidden;
  top:0;
  left:0;
  background-image: url("../img/touch.png");
  background-repeat: no-repeat;
  background-position: 0 center;
  z-index: 999;
}



.uiview {
    position:absolute;
    z-index: 100;
    pointer-events:none;
    opacity:0;
}

.uiview.active {
}



/*
*
* Standby
*
*/

#standby-view {}



#standby-view .slide {
  border:6px solid white;
  padding: 0;
  -webkit-box-shadow: 0px 0px 6px 6px rgba(33, 33, 33, 0.1);
  position:absolute;
  left:50%;
  top:50%;
  pointer-events: none;
  opacity: 0;
  z-index:65;
}

#standby-view .slide.left
{
  margin-top:1500px;
}

#standby-view .slide.right
{
  margin-top:-1500px;
}

#standby-view .slide img{
  display: block;
  width:100%;
  height:auto;
}

#start-app-cont{
  width:400px;
  height:400px;
  display:block;
  position:absolute;
  left:50%;
  margin-left:-200px;
  top:50%;
  margin-top:-270px;
  opacity:0;
  z-index:50;
}

#intro-anim {
  width:100%;
  text-align:center;
  position:absolute;
  z-index:55;
  left:0;
  margin-left:0px;
  top:50%;
  margin-top:90px;
}

#intro-anim .step{
  font-size: 15px;
  font-family: 'OpenSansBold';
  height:32px;
  color:#419cff;
  display:inline;
  padding-top:35px;
  background-repeat: no-repeat;
  background-position: top center;
  opacity:0;
}

#intro-anim .arrow{
  padding:33px 3px;
  height:32px;
  display:inline;
  background-repeat: no-repeat;
  background-position: top center;
  opacity:0;
}

#intro-anim .step_1{

  background-image: url("../img/intro_step_1.png");

}

#intro-anim .arrow_1,
#intro-anim .arrow_2{
  width:6px;
  background-image: url("../img/intro_step_arrow.png");
  margin-left:30px;
  margin-right:30px;
}

#intro-anim .step_2{
  height:32px;
  background-image: url("../img/intro_step_2.png");
}


#intro-anim .step_3{
  background-image: url("../img/intro_step_3.png");
}




#start-app-cont #swiffy-anim-container{
    display: block;
    width:300px;
    height:300px;
    position:absolute;
    z-index:60;
}

#start-app-cont #start-app-btn{
  width:400px;
  height:400px;

  border:none;
  position:absolute;
  background-color:rgba(255,255,255,0.1);
  padding:0;
  z-index:60;
}


/*
*
* Booth
*
*/
#booth-view {
  opacity: 1;
}




#streamholder{
  width: 747px;
  height: 420px;
  display:block;
  position:absolute;
  left:50%;
  margin-left:-373px;
  top:50%;
  margin-top:-210px;
  overflow: visible;
  opacity: 0;
  -webkit-mask-size: 747px 420px;
  -webkit-mask-image: url("../img/video_mask.png");
}

#stream {
  width: 747px;
  height: 420px;
  position: absolute;
  z-index:50;


}

#overlay {
  box-shadow: inset 0 0 10px rgba(44, 44, 44, 0.6);
  background-image: url("../img/video_overlay.png");
  border-radius:10px;
  border:none;
  position:absolute;
  z-index:55;
  width: 630px;
  height: 420px;
}

#countdown {
  width: 100px;
  height: 100px;
  display:block;
  position:absolute;
  left:50%;
  margin-left:-50px;
  top:50%;
  margin-top:-60px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 90px;
  line-height: 100px;
  font-family:'OpenSansBold';
  text-align: center;
  pointer-events: none;
  z-index:60;
  border:10px solid rgba(255, 255, 255, 0.6);
  border-radius:60px;
}





#photo-counter {
  position: absolute;
  color: #0076ff;
  width:150px;
  height:62px;
  padding: 10px 0 0 0;
  display: block;
  font-size: 19px;
  font-family: 'OpenSansBold';
  pointer-events: none;
  left:50%;
  margin-left:-35px;
  top:50%;
  margin-top:-270px;
  overflow: hidden;

}

#photo-counter.disabled {
    color: #c9c9c9;
}

#photo-counter .ico{
  display:block;
  float:left;
  width:22px;
  height:15px;
  border-top: 2px solid #0076ff;
  border-left: 2px solid #0076ff;
  border-right: 2px solid #0076ff;
  border-bottom: 6px solid #0076ff;
  margin-right:2px;
  margin-top:70px;
  transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  -webkit-backface-visibility: hidden;
}
#photo-counter.disabled .ico{
  border-top: 2px solid #c9c9c9;
  border-left: 2px solid #c9c9c9;
  border-right: 2px solid #c9c9c9;
  border-bottom: 6px solid #c9c9c9;
}


#photo-counter .of{
   float:left;
   height:25px;
   width:25px;
   line-height:25px;
   margin-top:70px;
   text-align:center;
}

#photo-counter .totalPhotos{
  float:left;
  height:25px;
  width:25px;
  margin:0;
  padding: 0;
  overflow: hidden;
  margin-top:70px;
}
#photo-counter .nums{
  float:left;
  list-style:none;
  height:25px;
  width:25px;
  margin:-25px 0 0 0;
  padding: 0;
}

#photo-counter .nums li{
  line-height:25px;
}

#flash {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  position: fixed;
  top:0;
  left:0;
  z-index: 999;
  pointer-events: none;
  }

#booth_buttons{
  position: absolute;
  display: block;
  width:190px;
  height:75px;
  left:50%;
  margin-left:-95px;
  top:50%;
  margin-top:210px;
  z-index: 50;
  padding-top:30px;
  overflow: hidden;
}

#take-photo-btn{
  width:75px;
  height:75px;
  float:left;
  -webkit-mask-image: url("../img/mask_circle.png");
  -webkit-mask-size: 75px 75px;
  padding:0;
  margin-right:25px;
  margin-top: -130px;
}


#take-photo-btn .ico{
  text-indent:9999px;
  width:75px;
  height:75px;
  display: block;
  background-image: url("../img/ico_take_photo.png");
  background-repeat: no-repeat;
  background-position: center center;
 }



#submit-images-btn{
  width:88px;
  height:60px;
  float:right;
  -webkit-mask-image: url("../img/mask_arrow.png");
  -webkit-mask-size: 88px 60px;
  padding:0;
  margin-top:-122px;

}

#submit-images-btn .ico{
  text-indent:9999px;
  width:88px;
  height:60px;
  display: block;
  background-image: url("../img/ico_submit.png");
  background-repeat: no-repeat;
  background-position: center center;
 }

/**
*
* User images
*
*/

#user-images-view{
  pointer-events:none;
}

#user-images-view #mouseblocker{
  position:absolute;
  z-index:500;
  opacity:0;
  pointer-events:none;
  background-color: #ffffff;
  width:1900px;
  display:block;
  height:1400px;
}


#killbubble{
  position: absolute;
  opacity: 0;
  z-index:600;
  height:138px;

}

#killbubble .content{
  position: absolute;
  width:155px;
  height:113px;
  padding:10px;
}

#killbubble .content h3.delete
{
  background-image: url("../img/ico_trash_big.png");
  padding: 0 0 0 35px;
  margin:0 5px 10px 5px;
  color:#ffffff;
  background-repeat: no-repeat;
  line-height:45px;
  font-size:22px;
  font-family: "OpenSansBold";
}
#killbubble .content button
{
  background-color: #ffffff;
  width:60px;
  height:35px;
  border-radius:6px;
  border:none;
  color:#0A7FFF;
  text-align:center;
  font-family: "OpenSansExtraBold";
}

#killbubble .content button#yes
{
  margin: 0 10px 0 10px;
}

#killbubble .bg{
  position: absolute;
  width:175px;
  height:125px;
  background-color: #3B98FF;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3B98FF), to(#0A7FFF));
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
    -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);

}

#killbubble .bg::before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 67px;
  border-width: 15px 15px 0;
  border-style: solid;
  border-color: #0A7FFF transparent;
  display: block;
  width: 0;
}


.pic {
  border:20px solid white;
  -webkit-box-shadow: 0px 0px 2px 2px #ccc;
  margin-top: 6px;
  width: 747px;
  height: 420px;
  position:absolute;
  left:50%;
  margin-left:-393px;
  top:50%;
  margin-top:-230px;
  pointer-events: all;
  z-index:30;
   -webkit-touch-callout: none;
  -webkit-user-select: auto;
}

.pic img{
  display: block;
  width:100%;
  height:auto;

}

.pic .close{
  position:absolute;
  margin-top:-20px;
  margin-left:170px;
  padding: 0;
  border:none;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  display: block;
  width:31px;
  height:31px;
  pointer-events: none;

}

.pic .close span.ico{
  width:31px;
  height:31px;
  display: block;
  background-image: url("../img/ico_trash_small.png");
  background-repeat: no-repeat;
  background-position: center center;
}




/*
*
* Submit
*
*/

#submit-view {
    opacity: 1;
}


#submit-cont{
    width:700px;
    position:absolute;
    top:110%;
    left:50%;
    margin-left:-350px;
    margin-top:-25px;
}


#submissionHead{
    height:30px;
    position:absolute;
    top:50%;
    margin-top:-270px;
    left:50%;
    margin-left:-350px;
}


#submitviewTitle{
  font: 24px OpenSansBold;
  float:left;
  width:550px;
  margin:0;
  padding:0;
  text-align:center;
  -webkit-touch-callout: none;
  -webkit-user-select: auto;
  opacity:0;
  width:700px;

}

#back-btn{
   -webkit-touch-callout: none;
  -webkit-user-select: auto;
  outline: none;
  text-align: center;
  text-decoration: none;
  font: 12px OpenSansBold;
  height:33px;
  width:60px;
  padding: 8px 12px 12px 18px;
  color: #3092fc;
  border: none;
  left:15px;
  opacity:0;
  position:absolute;
  background: url("../img/back_btn.png") no-repeat center left;
}

#submit-view #termsConditionsActiveBLocker{
  position:fixed;
  top:0;
  left:0;
  z-index:600;
  pointer-events:none;
  width:1900px;
  height:1400px;
  display:none;
}
#submit-view #termsConditionsActiveBLocker.active{
  display:block;
}

/*
 *
 * KEYBOARD STYLES
 *
*/

#keyboard {
  border: 1px solid #CCCCCC;
  -webkit-border-radius: .3em;
  -moz-border-radius: .3em;
  border-radius: .3em;
  -webkit-box-shadow: 0 1px 1px;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  width: 700px;
  margin: 4px 0 0;
  background-color:#fff;
  height:220px;
  -webkit-touch-callout: none;
  -webkit-user-select: auto;
}
#keyboardInner {
  padding: 8px 0 0px 8px;
}
.keyboardCol {
  float: left;
}
.keyboardRow {
  height: 54px;
  text-align: center;
}
#keyNums.keyboardCol {
  margin-left: 44px;
}
.key {
  border: 1px solid #CCCCCC;
  -webkit-border-radius: .3em;
  -moz-border-radius: .3em;
  border-radius: .3em;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  display: inline-block;
  height: 30px;
  padding-top: 8px;
  text-align: center;
  vertical-align: middle;
  width: 38px;
  background: #e9e9e9;
  margin:0 3px;
  -webkit-touch-callout: none;
  -webkit-user-select: auto;
  font-size:16px;
  font-family:OpenSansRegular;
  background-color:#f5f5f5;
  color:#565656;
}
.keyhit{
  background-color:#fff;
  color:#ddd;
}
.key[data-input='_send'] {
  width: 130px;
  }
.disabled[data-input='_send'] {
  color:#ccc;
  }
.key[data-input='.com'] {
  width: 50px;
  }
.key[data-input='_canc'] {
  background: #f5f5f5 url(../img/key_del_02.png) no-repeat center center;
  color:transparent;
  }
.key[data-input='_shift'] {
  background: #f5f5f5 url(../img/key_up.png) no-repeat center center;
  color:transparent;
  }
/* ################### USER INPUT WIDGET STYLES*/
#userInputEmail {
  margin: 0px auto 0px;
}
#submit-btn {
  outline: none;
text-align: center;
text-decoration: none;
font: 15px OpenSansBold;
padding: 12px 11px 14px 0px;
color: #FEF4E9;
float: right;
display: block;
margin-right: 0;
-webkit-mask-image: url("../img/submit-btn-mask-03.png");
-webkit-mask-size: 126px 46px;
width: 126px;
height: 46px;
margin-top: 0px;
}


#userEmailInputError{
  clear:left;
  font: 17px OpenSansBold;
  color:#d33;
  text-align:center;
   -webkit-touch-callout: none;
  -webkit-user-select: auto;
  height:22px;
  margin-top:4px;
  visibility:hidden;

}
#userEmailInputError p{
  padding:0;
  margin:0;
}

#terms-conditions #tcError{
  display:none;
  font: 18px OpenSansBold;
  color:#d33;
}
#terms-conditions #tcError.active{
  display:block;
}
#lblEmail {
  font: 18px OpenSansBold;
  display:none;
}


#email:focus{
  outline:none;
}



/*Terms and Conditions*/
div#terms-conditions{
  text-align:center;
  margin-top:20px;
  /*
   -webkit-touch-callout: none;
  -webkit-user-select: auto;
  */

}



div#terms-conditions p{
  color:#888;
  padding-left:30px;
  font-family:OpenSansRegular;
  font-size:15px;
  margin-top:6px;
}
div#terms-conditions p input{

}
div#terms-conditions p a#termsconditions-chbx{
  border: 1px solid #D9D9D9;
  -webkit-border-radius: .3em;
  -moz-border-radius: .3em;
  border-radius: .3em;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  padding:4px 16px;
  background:#fff;
  margin-right:6px;
  color:#32aee8;
  /*
   -webkit-touch-callout: none;
  -webkit-user-select: auto;
  */
}
div#terms-conditions p a#termsconditions-chbx.active{
 background:#fff url(../img/bigTick.png) no-repeat center center;
}
a#termsandconditions-modal,
a#termsandconditions-modal:focus,
a#termsandconditions-modal:active{
  outline:none;
  color:#32aee8;
  padding:0 3px;
}

/*
* Terms Modal
*/

#termsModal {
  position: absolute;
  display: none;
  z-index: 700;
  width: 480px;
  height:521px;
  left:50%;
  margin-left:-240px;
  top:50%;
  margin-top:-260px;
  background-color:#ffffff;
   border: 1px solid #aaa;
  -webkit-border-radius: .3em;
  -moz-border-radius: .3em;
  border-radius: .3em;
  -webkit-box-shadow: 0px 0px 8px 8px rgba(33, 33, 33, 0.1);
  font-family:OpenSansBold;
  text-align:left;
  -webkit-touch-callout: none;
  -webkit-user-select: auto;
   padding:40px 10px 10px 30px;
}


div#termsModal .body::-webkit-scrollbar { width: 16px; }
div#termsModal .body::-webkit-scrollbar-track {  }
div#termsModal .body::-webkit-scrollbar-thumb {border:none; border-radius: 8px; background-color:#dddddd;  }
div#termsModal .body::-webkit-scrollbar-thumb:window-inactive { background-color:#dddddd; }


#termsModal .body{
  padding-right:20px;
  -webkit-touch-callout: none;
  -webkit-user-select: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  height:500px;
}

#termsModal h2{
  color:#444;
  margin-top:0;
  -webkit-touch-callout: none;
  -webkit-user-select: auto;
  font-size:25px;
     margin-bottom:20px;
padding-bottom:0px;
-webkit-margin-before: 0px;
-webkit-margin-after: 20px;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}

#termsModal h3{
 color:#444;
  -webkit-touch-callout: none;
  -webkit-user-select: auto;
   font-size:17px;
   margin-bottom:5px;
-webkit-margin-before: 0px;
-webkit-margin-after: 5px;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}

#termsModal p{
 font-family:OpenSansRegular;
-webkit-touch-callout: none;
-webkit-user-select: auto;
font-size:12px;
margin: 0 0 20px 0;
-webkit-margin-before: 0px;
-webkit-margin-after: 20px;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
line-height:18px;


}

#termsModal  a#close-modal{
  text-decoration:none;
  font-size:18px;
  display:block;
  position:relative;
  float:right;
  width:30px;
  height:30px;
  border-radius:15px;
  margin:-55px -25px 0 0;
  -webkit-touch-callout: none;
  -webkit-user-select: auto;
    background-image: url("../img/close_modal.png");
  background-repeat: no-repeat;
  background-position: center center;
}



/**
*
* Thanks
*
*/
#thanks-view {}

#thanks-content{
  width: 500px;
  height: 250px;
  display:block;
  position:absolute;
  left:50%;
  margin-left:-250px;
  top:50%;
  margin-top:-125px;
  text-align: center;
}


#thanks-content h1{
  color: #007aff;
  font-family:OpenSansbold;
  font-size:70px;
  margin: 0 60px 20px 60px;
  padding: 0 0 0 0;
  border-bottom:1px solid #999999;
}



/* ################### UI STYLES*/


.blue-btn {
  background-color: #54A5F6;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3B98FF), to(#0A7FFF));
  border:none;

}


.blue-btn:hover,
.blue-btn:active,
.blue-btn.active{
   background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0A7FFF), to(#2784D8));

}

.blue-btn.disabled,
.blue-btn.disabled:hover,
.blue-btn.disabled:active,
.blue-btn.disabled.active{
  background-color: #E5E5E5;
  background-image:none;
  pointer-events: none;
}


.green-btn {
  background-color: #5dc662;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5dc662), to(#22b22a));
  border:none;

}


.green-btn:hover,
.green-btn:active,
.green-btn.active{
   background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#22b22a), to(#1ea125));

}

.green-btn.disabled,
.green-btn.disabled:hover,
.green-btn.disabled:active,
.green-btn.disabled.active{
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d7d7d7), to(#c9c9c9));
  pointer-events: none;
}


.cl {
  clear: left; }



div#termsconditionsText{

}
div#termsconditionsText ol{
  padding-left:18px;
}

div#termsconditionsText ol li{
  font-weight:normal;
  font:12px 'OpenSansRegular';
}

div#termsconditionsText ol li ol{
padding-left:8px;
margin:4px 0 4px 8px;
}

div#termsconditionsText ul li{
  font-weight:normal;
  font:12px 'OpenSansRegular';
}




#email {
  -webkit-user-select: auto;
  padding: .5em 1em .6em;
  width: 520px;
  font: 18px OpenSansBold;
  border: 1px solid #CCCCCC;
  -webkit-border-radius: .3em;
  -moz-border-radius: .3em;
  border-radius: .3em;
  color:#565656;
  display:none;
}
#emailinputDelegate{
  -webkit-user-select: auto;
width: 520px;
font: 18px OpenSansBold;
border: 1px solid #CCC;
-webkit-border-radius: .3em;
-moz-border-radius: .3em;
border-radius: .3em;
color: #565656;
height: 45px;
clear: left;
display: inline-block;
float: ]left;
margin: 0;
padding-right: 33px;
}

#emailinputDelegate span{
  display:block;
  float:left;
  padding:12px 2px 12px 12px;

}
#emailinputDelegate img{
float:left;
  margin-top:10px;
}

.rtl{
  direction:rtl;
}
